<!DOCTYPE html>
<html lang="en" ng-app="AplikasiLAM">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aplikasi LAM</title>

    <link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../angular-notify/dist/angular-notify.min.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <%- body %>

    <script src="../jquery/dist/jquery.min.js"></script>
    <script src="../angular/angular.min.js"></script>
    <script src="../angular-route/angular-route.min.js"></script>
    <script src="../angular-cookie/angular-cookie.min.js"></script>
    <script src="../socket.io-client/socket.io.js"></script>
    <script src="../angular-socket-io/socket.min.js"></script>
    <script src="../angular-scroll-glue/src/scrollglue.js"></script>
    <script src="../angular-notify/dist/angular-notify.min.js"></script>
    <script src="../bootstrap/dist/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="../scripts/app.js"></script>

    <!-- service -->
    <script type="text/javascript" src="../scripts/service/SocketService.js"></script>
    <script type="text/javascript" src="../scripts/service/UserService.js"></script>
    <script type="text/javascript" src="../scripts/service/PostService.js"></script>

    <!-- controller -->
    <script type="text/javascript" src="../scripts/controller/LoginController.js"></script>
    <script type="text/javascript" src="../scripts/controller/PostController.js"></script>

    <!-- directive -->
    <script type="text/javascript" src="../scripts/directive/ngEnter.js"></script>

  </body>
</html>
