<div class="row">
  <div class="col-md-3">

  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center">About</h3>
      </div>
      <div class="panel-body">
        Aplikasi LAM (laporan aspirasi mahasiswa) merupakan sebuah aplikasi yang bertujuan untuk menyalurkan semua aspirasi mahasiswa
        . Diharapkan dengan adanya aplikasi ini, semua aspirasi mahasiswa dapat terpenuhi :) .
      </div>
      <div class="panel-footer text-center">
        Author : Rizki Mufrizal (mufrizalrizki@gmail.com)
      </div>
    </div>
  </div>
</div>
